#top-stories{
  margin-top: -16px;
  position: relative;
  .large-8{
    padding-left:0px;
    padding-right:0px;
  }
  #featured-story-image{
    height: 100% !important;
    position:relative;
    padding: 0;
    margin: 0;
    .slick-list, .slick-track{
      height: 100% !important;
      position:relative;
      padding: 0;
      margin: 0;
    }
    .featured-slide{
      height: 100% !important;
      position:relative;
    }
  }
  .row{
    position: relative;
  }
  .featured-img{
    height: 100%;
    position: absolute;
    overflow: hidden;
    padding-left:0px;
    padding-right:0px;
    .copy{
      position: absolute;
      bottom:60px;
      padding-left:60px;
      padding-right:60px;
      max-width:680px;
      @include breakpoint(medium down){
        max-width:100%;
      }
      @include breakpoint(small only){
        padding-left:30px;
        padding-right:30px;
        bottom:60px;
      }
      a.cta{
        border:2px solid #CEDFE1;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding:10px 45px;
        border-radius:20px;
        font-size:12px;
        img{
          display:inline;
        }
        &:hover{
          opacity: .5;
        }
        @include breakpoint(small only){
          padding:10px 25px;
        }
        img{
          margin-right:10px;
          margin-bottom:3px;
        }
      }
      h2{
        color: #ffffff;
        font-size:48px;
        line-height:48px;
        margin-top:20px;
        @include breakpoint(small only){
          font-size:28px;
          line-height:32px;
          font-weight:bold;
        }
      }
      p{
        color: #CEDFE1;
        font-size:20px;
        line-height:22px;
        padding-bottom:29px;
        padding-top:19px;
        @include breakpoint(small only){
          font-size:16px;
          line-height: 18px;
          padding-bottom:18px;
          padding-top:10px;
        }
      }
      h4{
        color: #ffffff;
        font-size:12px;
        text-transform: uppercase;
        display: inline;
        padding: 4px 12px;
        border-radius:5px;
      }
    }
    .overlay{
      width:100%;
      height:100%;
      //background: rgba(0, 0, 0, .3);
      background: linear-gradient( top,
              rgba( 0, 0, 0, 0 ) 20%,
              rgba( 0, 0, 0, .9 ) 100% );
      background: -moz-linear-gradient( top,
              rgba( 0, 0, 0, 0 ) 20%,
              rgba( 0, 0, 0, .9 ) 100% );
      background: -ms-linear-gradient( top,
              rgba( 0, 0, 0, 0 ) 20%,
              rgba( 0, 0, 0, .9 ) 100% );
      background: -o-linear-gradient( top,
              rgba( 0, 0, 0, 0 ) 20%,
              rgba( 0, 0, 0, .9 ) 100% );
      background: -webkit-linear-gradient( top,
              rgba( 0, 0, 0, 0 ) 20%,
              rgba( 0, 0, 0, .9 ) 100% );
    }
    @include breakpoint(medium down){
      position: relative;
      height:480px;
    }
  }
  .articles{
    position: relative;
    padding-left:0px;
    padding-right:0px;
    .outer-link-block{
      text-align: center;
      height:45px;
      text-transform: uppercase;
      border-top: 1px solid #EEEEEE;
      border-bottom: 1px solid #EEEEEE;
      letter-spacing: 1px;
      color:#838D8F;
      font-size:12px;
      transition: all .5s ease;
      &.bottom{
        &:hover{
          opacity: .5;
        }
      }
      &.top{
        border-top: 1px solid #EEEEEE;
      }
      span{
        color:#838D8F;
        line-height: 45px;
        font-weight:bold;
      }
    }
    .article-block{
      //min-height:116px;
      transition: all .5s ease;
      &.active::before {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #fff;
        content: '';
        position: absolute;
        left: -10px;
        margin-top: 25px;
      }
      &:hover{
        background: #F9F9F9;
        &::before {
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 10px solid #F9F9F9;
          content: '';
          position: absolute;
          left: -10px;
          margin-top: 25px;
        }
      }
      padding:17px 30px 17px 30px;
      .count{
        height:32px;
        width:32px;
        border-radius:50%;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: #fff;
        line-height: 32px;
        float:left;
        margin-right:15px;
        margin-top:10px;
      }
      .copy{
        width:60%;
        float:left;
      }
      h4{
        color:#838D8F;
        font-size:12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight:bold;
      }
      h3{
        color:#838D8F;
        font-size:16px;
        font-family: "PT Serif";
      }
    }
  }


}
#most-recent-articles{
  transition: all .5s ease;
  padding-top:70px;
  padding-bottom:70px;
  background: url(../images/global/most-recent-image-bg.jpg);
  background-size: cover;
  background-position:center center;
  h2{
    text-align: center;
    line-height: 40px;
    margin-bottom:40px;
    font-size:52px;
    font-family: 'Bonjour';
  }
  a.btn{
    width:100%;
    letter-spacing: 2px;
    margin-left:auto;
    margin-right: auto;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    @media(max-width:1160px){
      width:65%;
    }
    @include breakpoint(small only){
      width:250px;
    }
  }
}

#social-feature{
  padding-top:108px;
  padding-bottom:108px;
  .center-div{
    margin-left:auto;
    margin-right:auto;
    display: block;
    position: relative;
    width:980px;
  }
  .gallery{
    width:480px;
    height: 301px;
    background-color: $theme-pink;
    border-radius:8px;
    float:left;
    &:hover{
      opacity:.8 !important;
    }
    .copy{
      padding-left:30px;
      padding-top:30px;
      h4{
        color:$theme-pink;
        background: #ffffff;
        font-size:12px;
        text-transform: uppercase;
        display: inline;
        padding: 4px 12px;
        border-radius:5px;
        font-weight:bold;
      }
      h3{
        font-size:22px;
        color: #ffffff;
        padding-top: 17px;
        line-height:26px;
        font-weight:bold;
      }
      p{
        line-height:18px;
        color: #ffffff;
        opacity: .8;
        font-size:16px;
        font-family: "PT Serif";
      }
    }

  }
  .soc-container{
    padding:20px;
    border-radius:8px;
    border:1px solid $theme-medium-gray;
    height: 301px;
    width:230px;
    margin-left:20px;
    float:left;
    position:relative;
    h5{
      letter-spacing: 1px;
      font-size:14px;
      text-transform: uppercase;
      color: #3C3D41;
      float:left;
      font-weight:bold;
    }
    .handle{
      color:#838D8F;
      font-size:14px;
      font-style: italic;
      float:right;
      font-family: "PT Serif";
      &:hover{
        color:#555;
      }
    }

  }
  #instagram-feed{
    a.view-profile{
      bottom:10px;
      text-transform: uppercase;
      color: #838D8F;
      text-align: center;
      width:100%;
      display: block;
      font-size:12px;
      border-top: 1px solid #eee;
      position: absolute;
      left:0px;
      letter-spacing: 2px;
      padding-top:10px;
      &:hover{
        opacity: .5;
      }
    }
  }
  #twitter-feed{
    .tweet{
        color: $theme-pink;
        font-size:18px;
      line-height: 24px;
      padding-top:20px;
    }
    .time{
      font-size:12px;
      font-style: italic;
      color: #838D8F;
      position: absolute;
      bottom: 0px;
    }
    hr{
      border-color: #eee;
      position: absolute;
      margin-top: 33px;
      width: 100%;
      left: 0px;
    }
  }
  @media(max-width:1060px){
    .gallery{
      display: block;
      float:none;
      margin-bottom:40px;
      height:auto;
      img{
        margin-left:auto;
        margin-right:auto;
        display:block;
        padding-bottom:30px;
      }
    }
    .center-div{
      width:480px;
    }
    #instagram-feed{
      margin-left:0px;
    }
  }
  @media(max-width:530px){
    .center-div{
      width:100%;
    }
    .gallery{
      display: block;
      float:none;
      margin-bottom:40px;
      margin-left:auto;
      margin-right:auto;
      width: 230px;
      padding:30px;
      .copy{
        padding-left:0px;
        padding-top:0px;
      }
    }
    .soc-container{
      margin-left:auto;
      margin-right:auto;
      float:none;
      padding-bottom:20px;
    }
    #instagram-feed{
      margin-left:auto;
    }
    #twitter-feed{
      margin-top:40px;
    }
  }
}

#footer-post{
  padding:150px 20px;
  //background: url(../images/global/feature-post-footer-bg.jpg);
  background-size: cover;
  color:#fff;
  text-align: center;
  position: relative;
  .columns{
    padding-left:0px;
    padding-right:0px;
  }
  .row{
    z-index: 2;
    position: relative;
  }
  .overlay{
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.3);
    margin-left: -20px;
    margin-top: -150px;
    z-index: 1;
  }
  a{
    color: #FFFFFF;
  }
  .row{
    z-index:2;
  }
  h4{
    background: #fff;
    color: #999;
    font-size:12px;
    text-transform: uppercase;
    font-weight:bold;
    display: inline;
    padding: 4px 12px;
    border-radius:5px;
    border:2px solid #fff;
    transition:all .5s ease;
    &:hover{
      color: #777;
      border-color: #eee;
      background: #eee;
    }
  }
  h3{
    font-size:52px;
    margin-top:20px;
    line-height: 58px;
    transition:all .5s ease;
    &:hover{
      color: #ccc;
    }
  }
  p{
    color: #CDDFE0;
    font-size:26px;
    max-width:580px;
    margin-left:auto;
    margin-right:auto;
  }
  @include breakpoint(medium only){
    h3{
      font-size: 36px;
      line-height: 40px;
    }
  }
  @include breakpoint(small only){
    h3{
      font-size: 28px;
      line-height: 32px;
    }
    p{
      font-size:22px;
      line-height: 29px;
    }
  }
}
#mr-articles, #ajax-load-more{
  text-align: center;
  transition: all .5s ease;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  @media(max-width:1160px){
      width:65%;
  }
  .article{
    display:inline-block;
    margin-left:15px;
    text-align: left !important;
    transition: all .5s ease;
  }
  .article-post{
    width:260px;
    height:345px;
  }
  @include breakpoint(small only){
    width:100%;
    .article{
      margin-left:0px;
    }
  }
}
#instafeed{
  margin-top: 7px;
  margin-left:auto;
  margin-right:auto;
  a{
    float:left;
    &:hover{
      opacity:.7;
    }
    img{
      width: 62.6px;
      height: 62px;
    }
  }
}